@import 'settings';
@import 'foundation-emails';

@import 'template/template';

// PAGES
//@import 'pages/20190703-estudios-clic';
//@import 'pages/20190704-vida-sana';
//@import 'pages/20190924-cama';
@import 'pages/20191002-cama';

.header-row { background-color: #ffffff;  }
.header-logo { display: block; }
.hd-viewbrowser { color: #0071BC; font-size: 10px; text-align: right;
	a { color:#0071BC; font-weight: bold; text-decoration: underline; }
}

.footer-usp { border-bottom: 1px solid #CDCDCD;
	a { display: inline-block; }
	img { display: inline; }
}

.icon-rs { display: inline-block;
	img { display: inline;  }
}

.footer-row { background-color: #E2E2E2;
	h2, h3 { color:#0055B8; font-weight: bold; }
	h2 { font-size: 14px; }
	h3 { font-size: 12px; }
}

.footer-legales { color:#565656; font-size: 11px;  }

.footer-link-legales {
	a { color:#565656; display: block; font-size: 11px; text-align: center; text-decoration: underline;  }
}

.footer-unsuscribe { color: #565656; font-size: 11px;
	a { color:#565656; font-weight: bold; text-decoration: underline; }
} 
