---
subject: Tus estudios a un clic
utm: utm_medium=mailing&utm_campaign=vacaciones1907&utm_source=elasticemail
description: Descuento hasta del 35% en análisis y gabinetes
---
<row class="collapse" bgcolor="#FFFFFF">
	<columns>
		<img src="assets/img/20190724-vacaciones-header.jpg" alt="Disfruta tus vacaciones con Laboratorios Médicos del Chopo">
	</columns>
</row>
<row class="collapse" bgcolor="#FFFFFF">
	<columns large="2" class="show-for-large">&nbsp;</columns>
	<columns large="8">
		<p style="text-align: center; color:#006E8F"><b>Recuerda que una buena hidratación te ayuda a mantenerte activo. No olvides usar protección solar todos los días y en especial para actividades al aire libre.</b></p>
	</columns>
	<columns large="2" class="show-for-large">&nbsp;</columns>
</row>
<row class="collapse" bgcolor="#FFFFFF">
	<columns>
		<a href="https://chopo.com.mx/?{{utm}}">
			<center>
				<img src="assets/img/20190724-vacaciones-footer.jpg" alt="!Cuídate para que disfrutes al máximo a tu familia!">
			</center>
		</a>
	</columns>
</row>