---
subject: Tus estudios a un clic
utm: utm_medium=mailing&utm_campaign=chopo-news&utm_source=elasticemail
description: Descuento hasta del 35% en análisis y gabinetes
---
<row class="collapse" bgcolor="#0071BC">
	<columns class="small-12 estudios-clic-back">
		<img src="assets/img/20190307-estudios-clic/20190703-tus-estudios-a-un-clic_01.jpg" alt="Tus estudios a un clic">
	</columns>
</row>
<row class="collapse" bgcolor="#0071BC">
	<columns class="small-12 estudios-clic-back">
		<a href="https://promociones.chopo.com.mx/?{{utm}}">
			<center><img src="assets/img/20190307-estudios-clic/20190703-tus-estudios-a-un-clic_03.jpg" alt="Tus estudios a un clic"></center>
		</a>
	</columns>
</row>
