---
subject: Vida Sana
utm: utm_medium=mailing&utm_campaign=vida-sana-compra&utm_source=elasticemail
description: Descuento hasta del 35% en análisis y gabinetes
---
<row class="collapse">
	<columns class="small-12 large-offset-3 large-6">
		<center><img src="assets/img/20190704-vida-sana_card.jpg" alt="Tus estudios a un clic"></center>
	</columns>
</row>
<row class="collapse">
	<columns class="small-12 large-offset-2 large-8">
		<center><img src="assets/img/20190704-vida-sana_subtitle.jpg" alt="Tus estudios a un clic"></center>
	</columns>
</row>
<row class="collapse show-for-large vs-picture">
	<columns class="small-12 large-12">
		<a href="https://promociones.chopo.com.mx/?{{utm}}">
			<center>
				<img src="assets/img/20190704-vida-sana_stock.jpg" alt="Tus estudios a un clic">
			</center>
		</a>
	</columns>
</row>
<row class="collapse vs-beneficios">
	<columns class="small-4 vs-b-1">
		<a href="https://promociones.chopo.com.mx/?{{utm}}">
			<center>
				<img src="assets/img/20190704-vida-sana_b1.jpg" alt="Tus estudios a un clic">
			</center>
		</a>
	</columns>
	<columns class="small-4 vs-b-2">
		<a href="https://promociones.chopo.com.mx/?{{utm}}">
			<center>
				<img src="assets/img/20190704-vida-sana_b2.jpg" alt="Tus estudios a un clic">
			</center>
		</a>
	</columns>
	<columns class="small-4 vs-b-3">
		<a href="https://promociones.chopo.com.mx/?{{utm}}">
			<center>
				<img src="assets/img/20190704-vida-sana_b3.jpg" alt="Tus estudios a un clic">
			</center>
		</a>
	</columns>
</row>
<row class="collapse vs-footer" bgcolor="#D6ECFF">
	<columns>
		<spacer size="20"></spacer>
	</columns>
</row>
<row class="collapse vs-footer vs-pricing" bgcolor="#D6ECFF">
	<columns>
		<p class="vs-pricing-title">Adquiérela por $199.00</p>
		<p class="vs-pricing-subtitle">Obtén un descuento especial por relanzamiento</p>
		<p class="vs-pricing-valid">(Válido solo de forma digital)</p>
	</columns>
</row>
<row class="collapse vs-footer" bgcolor="#D6ECFF">
	<columns>
		<spacer size="20"></spacer>
	</columns>
</row>
<row class="collapse vs-footer" bgcolor="#D6ECFF">
	<columns class="small-12 large-offset-3 large-6" bgcolor="#D6ECFF">
		<a href="https://www.chopo.com.mx/programa-de-lealtad/vida-sana//?{{utm}}"><center><img src="assets/img/20190704-vida-sana_cta.jpg" alt="Tus estudios a un clic"></center></a>
	</columns>
</row>
<row class="collapse vs-footer" bgcolor="#D6ECFF">
	<columns>
		<spacer size="10"></spacer>
	</columns>
</row>
<row class="vs-footer vs-legal" bgcolor="#D6ECFF">
	<columns class="small-12">
		<p>*Aplican restricciones: I) La membresía y los beneficios únicamente son válidos para el titular en todas las sucursales Chopo a nivel nacional. II) La membresía tiene vigencia de 1 año a partir de la fecha de compra. III) Estudios de imagen: ultrasonido, mastografía, rayos x, entre otros. Estudios especiales: tomografía, resonancia magnética, endoscopía, entre otros. Consulta estudios participantes en sucursal o en chopo.com.mx/estudios. IV) Para que los descuentos sean válidos en cada visita es necesario presentar la membresía vigente en sucursal. V) Para hacer válido el cupón es necesesario presentarlo físicamente, así como la membresía vigente. VI) Consulta los establecimientos participantes en chopo.com.mx/vidasana. Consulta a tu médico, él es el único facultado para indicar el tipo de estudio a realizar en cada paciente.<br>Responsable Sanitario Q.F.B. Luz Elena Alcántara Gómez. Ced. Prof. 2259743. U.N.A.M. Permiso de Publicidad: 1933002T1A0325</p>
	</columns>
</row>
