---
subject: Por ti y por todos
utm: utm_source=newsletter&utm_medium=email&utm_campaign=Mes_de_la_prevencion
description: Descuento hasta del 20% en análisis y gabinetes
---
<!--<a href="https://promociones.chopo.com.mx/?{{utm}}"> -->
	
<row class="collapse" bgcolor="#0d5591">
	<columns>
		<img src="assets/img/20190928-prevencion-header.jpg" alt="Por ti y por todos">
	</columns>
</row>
<row bgcolor="#0d5591">
	<columns class="small-12 large-12">
		<spacer size="40" bgcolor="#0d5591"></spacer>
		<p style="color:#8cc53e; text-align: center; font-size:23px;"><b><span style="color:#fff">El cáncer testicular</span> en México <span style="color:#fff">se diagnostica</span> <br>en su mayoría en hombres de <span style="color:#fff">20 a 34 años</span></p>
	</columns>
</row>
<row bgcolor="#0d5591">
	<columns large="6" bgcolor="#0d5591" class="col-2">
		<spacer size="40"></spacer>
		<center>
			<img src="assets/img/20190928-prevencion-20dis.png" alt="20%">
		</center>
		<spacer size="20"></spacer>
		<p class="title"><b>Check-up</br>básico Q45</b></p>
		<spacer size="15"></spacer>
		<ul>
			<li>Química integral de 45 elementos</li>
			<li>Biometría hemática</li>
			<li>Examen general de orina</li>
		</ul>
		<spacer size="10"></spacer>
		<a href="https://promociones.chopo.com.mx/a/check-up/check-up-basico-q45/?{{utm}}">
			<center><img src="assets/img/20190928-prevencion-btn-green.png" alt="Ver estudio"></center>
		</a>
		<spacer size="40"></spacer>
	</columns>
	<columns large="6" bgcolor="#0d5591" class="col-2">
		<spacer size="40"></spacer>
		<center>
			<img src="assets/img/20190928-prevencion-20dis.png" alt="20%">
		</center>
		<spacer size="20"></spacer>
		<p class="title"><b>Perfil de infecciones de transmisión sexual (VIH y sífilis)</b></p>
		<ul>
			<li>V.D.R.L.</li>
			<li>Ac virus de inmunodeficiencia en suero</li>
		</ul>
		<spacer size="10"></spacer>
		<a href="https://promociones.chopo.com.mx/a/check-up/perfil-de-infecciones-de-transmision-sexual-vih-y-sifilis/?{{utm}}">
			<center><img src="assets/img/20190928-prevencion-btn-green.png" alt="Ver estudio"></center>
		</a>
		<spacer size="40"></spacer>
	</columns>
</row>

<row bgcolor="#0d5591">
	<columns large="1" class="show-for-large">&nbsp;</columns>
	<columns large="10" class="col-1">
		<spacer size="40"></spacer>
		<center><img src="assets/img/20190928-prevencion-20dis.png" alt="Hasta 20% de descuento"></center>
		<spacer size="20"></spacer>
		<p class="title"><b>Check up integral Q45</b></p>
	</columns>
	<columns large="1" class="show-for-large">&nbsp;</columns>
</row>
<row class="collapse" bgcolor="#0d5591">
	<columns large="6" class="col-1">
		<ul>
			<li>Química integral de 45 elementos</li>
			<li>Biometría hemática</li>
			<li>Examen general de orina</li>
		</ul>
	</columns>
	<columns large="6" class="col-1">
		<ul>
			<li>Electrocardiograma digital en reposo</li>
			<li>Rayos X de tórax postero-anterior</li>
		</ul>
	</columns>
</row>
<row class="collapse" bgcolor="#0d5591">
	<columns large="12">
		<a href="https://promociones.chopo.com.mx/a/check-up/check-up-integral-q45/?{{utm}}">
			<center><img src="assets/img/20190928-prevencion-btn-green.png" alt="Ver estudio"></center>
		</a>
		<spacer size="40"></spacer>
	</columns>
</row>

<row bgcolor="#4377c1">
	<columns large="1" class="show-for-large">&nbsp;</columns>
	<columns large="10" class="col-1">
		<spacer size="40"></spacer>
		<center><img src="assets/img/20190928-prevencion-20dis.png" alt="Hasta 20% de descuento"></center>
		<spacer size="20"></spacer>
		<p class="title"><b>Check up salud Q45</b></p>
	</columns>
	<columns large="1" class="show-for-large">&nbsp;</columns>
</row>
<row class="collapse" bgcolor="#4377c1" >
	<columns large="6" class="col-1">
		<ul>
			<li>Química integral de 45 elementos</li>
			<li>Biometría hemática</li>
		</ul>
	</columns>
	<columns large="6" class="col-1">
		<ul>
			<li>Examen general de orina</li>
			<li>Hemoglobina Glicosilada A1c</li>
		</ul>
	</columns>
</row>
<row class="collapse" bgcolor="#4377c1">
	<columns large="12">
		<a href="https://promociones.chopo.com.mx/a/check-up/check-up-salud-q45/?{{utm}}">
			<center><img src="assets/img/20190928-prevencion-btn-green.png" alt="Ver estudio"></center>
		</a>
		<spacer size="40"></spacer>
	</columns>
</row>

<row bgcolor="#0d5591">
	<columns large="6" bgcolor="#0d5591" class="col-2">
		<spacer size="40"></spacer>
		<center>
			<img src="assets/img/20190928-prevencion-20dis.png" alt="20%">
		</center>
		<spacer size="20"></spacer>
		<p class="title"><b>Check up masculino <br>completo Q45</b></p>
		<ul>
			<li>Química integral de <br>45 elementos</li>
			<li>Biometría hemática</li>
			<li>Examen general de orina</li>
			<li>Antígeno prostático <br>específico total en suero</li>
			<li>Electrocardiograma digital <br>en reposo</li>
		</ul>
		<spacer size="10"></spacer>
		<a href="https://promociones.chopo.com.mx/a/check-up/check-up-masculino-completo-q45/?{{utm}}">
			<center><img src="assets/img/20190928-prevencion-btn-green.png" alt="Ver estudio"></center>
		</a>
		<spacer size="40"></spacer>
	</columns>
	<columns large="6" bgcolor="#0d5591" class="col-2">
		<spacer size="40"></spacer>
		<center>
			<img src="assets/img/20190928-prevencion-20dis.png" alt="20%">
		</center>
		<spacer size="20"></spacer>
		<p class="title"><b>Paquete saludable <br>Q45 III</b></p>
		<ul>
			<li>Química integral de 45 elementos</li>
			<li>Biometría hemática</li>
			<li>Examen general de orina</li>
			<li>V.D.R.L.</li>
			<li>Ac virus de inmunodeficiencia en suero</li>
			<li>Ac A virus de hepatitis C  en suero </li>
		</ul>
		<spacer size="10"></spacer>
		<a href="https://promociones.chopo.com.mx/a/check-up/paquete-saludable-q45-iii/?{{utm}}">
			<center><img src="assets/img/20190928-prevencion-btn-green.png" alt="Ver estudio"></center>
		</a>
		<spacer size="40"></spacer>
	</columns>
</row>

<row class="collapse" bgcolor="#e6e1de">
	<columns large="12">
		<spacer size="40"></spacer>
		<center><img src="assets/img/20190928-prevencion-20dis.png" alt="Hasta 20% de descuento"></center>
		<spacer size="20"></spacer>
		<p style="color:#0d5591; text-align: center; font-size:31px;"><b>Resonancia magnética</b></p>
		<a href="https://promociones.chopo.com.mx/a/resonancia-magnetica/?{{utm}}"><center><img width="131" src="assets/img/20190928-prevencion-btn-green.png" alt="Ver estudio"></center></a>
		<spacer size="30"></spacer>
		<p style="color:#7a7674; text-align: center; font-size:11px;">*Aplican restricciones: consulta estudios y descuentos participantes en tu región.</p>
		<spacer size="20"></spacer>

	</columns>
</row>