---
subject: Tus estudios a un clic
utm: utm_source=newsletter&utm_medium=email&utm_campaign=CaMa
description: Descuento hasta del 40% en análisis y gabinetes
---
<!--<a href="https://promociones.chopo.com.mx/?{{utm}}"> -->
	
<row class="collapse" bgcolor="#FCAEBF">
	<columns>
		<img src="assets/img/20190924-cama-header.jpg" alt="Prevenir salva vidas">
	</columns>
</row>
<row class="collapse" bgcolor="#FCAEBF">
	<columns class="small-12">
		<spacer size="20"></spacer>
	</columns>
</row>
<row bgcolor="#FCAEBF">
	<columns class="small-12 large-12">
		<p style="color:#83276B; text-align: center; font-size:23px;"><b><span style="color:#fff">El cáncer de mama</span> es la <span style="color:#fff">primera causa de muerte</span> por cánceres en mujeres mexicanas con un promedio de <span style="color:#fff">10 decesos al día <sup>*</sup></span></b></p>
	</columns>
</row>
<row bgcolor="#FCAEBF">
	<columns large="1" class="show-for-large">&nbsp;</columns>
	<columns class="large-10" style="border-top:1px dotted #83276B; border-bottom:1px dotted #83276B">
		<spacer size="20"></spacer>
		<p style="color:#83276B; text-align: center; font-size:15px;"><b><span style="color:#fff">Consulta a tu médico</span> sobre los <span style="border-bottom: 2px solid;">estudios adecuados</span> para ti y aprovecha los <span style="color:#fff">descuentos</span> que tenemos este mes</b></p>
	</columns>
	<columns large="1" class="show-for-large">&nbsp;</columns>
</row>
<row bgcolor="#FCAEBF">
	<columns class="small-12">
		<spacer size="20"></spacer>
	</columns>
</row>
<row class="collapse" bgcolor="#FCAEBF">
	<columns class="large-4">
		<center>
			<img src="assets/img/20190924-cama-icon1.png">
			<spacer size="10"></spacer>
			<p class="cama-text" style="color:#83276B; font-weight: bold; font-size: 16px; text-align: center"><b>Mastografía</b></p>
			<center><img src="assets/img/20190924-cama-disc40.png" alt="Hasta 40% de descuento"></center>
		</center>
		<spacer size="20"></spacer>
		<a href="https://promociones.chopo.com.mx/a/mastografia/mastografia/?{{utm}}">
			<center><img src="assets/img/20190924-cama-btn1.png" alt="Ver estudio"></center>
		</a>
	</columns>
	<columns class="large-4">
		<center>
			<img src="assets/img/20190924-cama-icon3.png">
			<spacer size="10"></spacer>
			<p style="color:#83276B; font-weight: bold; font-size: 16px;  text-align: center"><b>Ultrasonido de mama</b></p>
			<center><img src="assets/img/20190924-cama-disc40.png" alt="Hasta 40% de descuento"></center>
		</center>
		<spacer size="20"></spacer>
		<a href="https://promociones.chopo.com.mx/a/ultrasonido/ultrasonido-glandula-mamaria/?{{utm}}">
			<center><img src="assets/img/20190924-cama-btn1.png" alt="Ver estudio"></center>
		</a>
	</columns>
	<columns class="large-4">
		<center>
			<img src="assets/img/20190924-cama-icon3.png">
			<spacer size="10"></spacer>
			<p style="color:#83276B; font-weight: bold; font-size: 16px;  text-align: center"><b>Ultrasonido
ginecológico</b></p>
			<center><img src="assets/img/20190924-cama-disc30.png" alt="Hasta 30% de descuento"></center>
		</center>
		<spacer size="20"></spacer>
		<a href="https://promociones.chopo.com.mx/a/ultrasonido/ultrasonido-ginecologico/?{{utm}}">
			<center><img src="assets/img/20190924-cama-btn1.png" alt="Ver estudio"></center>
		</a>
	</columns>
</row>
<row bgcolor="#FCAEBF">
	<columns large="1" class="show-for-large">&nbsp;</columns>
	<columns large="10" style="border-top:1px dotted #83276B;">
		<spacer size="40"></spacer>
		<center><img src="assets/img/20190924-cama-disc20.png" alt="Hasta 20% de descuento"></center>
		<p style="color:#FFF; text-align: center; font-size:28px;"><b>Check up básico femenino Q45</b></p>
	</columns>
	<columns large="1" class="show-for-large">&nbsp;</columns>
</row>
<row class="collapse" bgcolor="#FCAEBF">
	<columns large="6">
		<ul>
			<li style="color:#83276B; font-weight: bold; font-size: 13px">Química integral de 45 elementos</li>
			<li style="color:#83276B; font-weight: bold; font-size: 13px">Biometría hemática</li>
			<li style="color:#83276B; font-weight: bold; font-size: 13px">Examen general de orina</li>
		</ul>
	</columns>
	<columns large="6">
		<ul>
			<li style="color:#83276B; font-weight: bold; font-size: 13px">Colposcopia</li>
			<li style="color:#83276B; font-weight: bold; font-size: 13px">Citología cervicovaginal sistema Bethesda (Papanicolaou)</li>
		</ul>
	</columns>
</row>
<row class="collapse" bgcolor="#FCAEBF">
	<columns large="12">
		<a href="https://promociones.chopo.com.mx/a/check-up/check-up-basico-femenino-q45/?{{utm}}">
			<center><img src="assets/img/20190924-cama-btn1.png" alt="Ver estudio"></center>
		</a>
		<spacer size="40"></spacer>
	</columns>
</row>
<row bgcolor="#FCAEBF">
	<columns large="6" bgcolor="#FFF">
		<spacer size="40"></spacer>
		<center><img src="assets/img/20190924-cama-disc20.png" alt="Hasta 20% de descuento"></center>
		<spacer size="20"></spacer>
		<center><p style="color:#ED63AA; font-size: 21px;"><b>Perfil hormonal 2</b></p></center>
		<ul>
			<li style="color:#666666; font-weight: bold; font-size: 13px">Estradiol</li>
			<li style="color:#666666; font-weight: bold; font-size: 13px">Hormona folículo estimulante</li>
			<li style="color:#666666; font-weight: bold; font-size: 13px">Hormona luteinizante</li>
			<li style="color:#666666; font-weight: bold; font-size: 13px">Progesterona</li>
			<li style="color:#666666; font-weight: bold; font-size: 13px">Prolactina</li>
		</ul>
		<spacer size="10"></spacer>
		<a href="https://promociones.chopo.com.mx/a/check-up/perfil-hormonal-2/?{{utm}}">
			<center><img src="assets/img/20190924-cama-btn2.png" alt="Ver estudio"></center>
		</a>
		<spacer size="40"></spacer>
	</columns>
	<columns large="6" bgcolor="#83276B">
		<spacer size="40"></spacer>
		<center><img src="assets/img/20190924-cama-disc20.png" alt="Hasta 20% de descuento"></center>
		<spacer size="20"></spacer>
		<center><p style="color:#fff; font-size: 21px;"><b>Perfil prevención<br>de cáncer 1</b></p></center>
		<ul>
			<li style="color:#FCAEBF; font-weight: bold; font-size: 13px">Citología cervicovaginal sistema Bethesda (Papanicolaou)</li>
			<li style="color:#FCAEBF; font-weight: bold; font-size: 13px">Colposcopia</li>
		</ul>
		<spacer size="10"></spacer>
		<a href="https://promociones.chopo.com.mx/a/check-up/perfil-prevencion-de-cancer-1/?{{utm}}">
			<center><img width="131" src="assets/img/20190924-cama-btn3.png" alt="Ver estudio"></center>
		</a>
		<spacer size="40"></spacer>
	</columns>
</row>
<row class="collapse" bgcolor="#FCAEBF">
	<columns large="12">
		<spacer size="40"></spacer>
		<center><img src="assets/img/20190924-cama-disc20.png" alt="Hasta 20% de descuento"></center>
		<spacer size="20"></spacer>
		<p style="color:#fff; text-align: center; font-size:31px;"><b>Resonancia magnética</b></p>
		<a href="https://promociones.chopo.com.mx/a/resonancia-magnetica/?{{utm}}"><center><img width="131" src="assets/img/20190924-cama-btn1.png" alt="Ver estudio"></center></a>
		<spacer size="10"></spacer>
		<p style="color:#fff; text-align: center; font-size:11px;">*Aplican restricciones: consulta estudios y descuentos participantes en tu región<br>Fuente: Boletin UNAM DGCS_677 Ciudad Universitaria. Octubre 2018</p>
		<spacer size="20"></spacer>

	</columns>
</row>