---
subject: Prevenir es salvar Vidas
utm: utm_source=newsletter&utm_medium=email&utm_campaign=mes_de_la_prevencion_1
description: Descuentos hasta del 40% en análisis y gabinetes
---
<!--<a href="https://promociones.chopo.com.mx/?{{utm}}"> -->
	
<row class="collapse" bgcolor="#002F49">
	<columns>
		<center>
			<spacer size="50"></spacer>
			<img src="assets/img/20191002-prevencion-header.jpg" alt="La diabetes es la segunda causa de Mortalidad en México.">
			<spacer size="20"></spacer>
		</center>
	</columns>
</row>
<row class="collapse" bgcolor="#0071BC">
	<columns>
		<center>
			<spacer size="40"></spacer>
			<img src="assets/img/20191002-prevencion-discount-1.jpg" alt="Hasta el 35% de descuento*">
			<spacer size="40"></spacer>
		</center>
	</columns>
</row>
<row class="collapse main-dis" bgcolor="#0071BC">
	<columns class="large-4">
		<center>
			<img src="assets/img/20191002-prevencion-hemo.jpg">
			<spacer size="10"></spacer>
			<p><b>Hemoglobina <br>glicosilada A1C</b></p>
			<spacer size="10"></spacer>
			<a href="https://promociones.chopo.com.mx/a/sangre/hemoglobina-glicosilada-a1c/?{{utm}}">
				<center><img src="assets/img/20191002-prevencion-btn1.jpg" alt="Ver más"></center>
			</a>
			<spacer size="40"></spacer>
		</center>
	</columns>
	<columns class="large-4">
		<center>
			<img src="assets/img/20191002-prevencion-checkup.jpg">
			<spacer size="10"></spacer>
			<p><b>Check Up <br>Salud Q45</b></p>
			<spacer size="10"></spacer>
			<a href="https://promociones.chopo.com.mx/a/check-up/check-up-salud-q45/?{{utm}}">
				<center><img src="assets/img/20191002-prevencion-btn1.jpg" alt="Ver más"></center>
			</a>
			<spacer size="40"></spacer>
		</center>
	</columns>
	<columns class="large-4">
		<center>
			<img src="assets/img/20191002-prevencion-diabetes.jpg">
			<spacer size="10"></spacer>
			<p><b>Paquete Control <br>Diabetes Q45</b></p>
			<spacer size="10"></spacer>
			<a href="https://promociones.chopo.com.mx/a/check-up/paquete-control-diabetes-q45/?{{utm}}">
				<center><img src="assets/img/20191002-prevencion-btn1.jpg" alt="Ver más"></center>
			</a>
			<spacer size="40"></spacer>
		</center>
	</columns>
</row>
<row class="collapse" bgcolor="#0071BC">
	<columns>
		<center>
			<spacer size="50"></spacer>
			<img src="assets/img/20191002-prevencion-checate.jpg" alt="Chécate en este mes de la Prevención.
Porque tu salud es lo primero">
			<spacer size="20"></spacer>
		</center>
	</columns>
</row>
<row class="collapse legales" bgcolor="#0071BC">
	<columns large="1" class="show-for-large">&nbsp;</columns>
	<columns large="10">
		<p style="color:#79CDF2">*Aplican restricciones: consulta estudios y descuentos participantes en tu región<br>Fuente: Estadísticas de la Federación Mexicana de Diabetes. <br>Vigencia al 31 de Octubre del 2019</p>
	</columns>
	<columns large="1" class="show-for-large">&nbsp;</columns>
</row>
<row class="" bgcolor="#002F49">
	<columns small="1" >&nbsp;</columns>
	<columns small="10">
		<center>
			<spacer size="40"></spacer>
			<img src="assets/img/20191002-prevencion-pleca-title.jpg" alt="Entra, navega y descarga tu cupón">
			<spacer size="20"></spacer>
			<a href="https://promociones.chopo.com.mx/?{{utm}}">
				<center><img src="assets/img/20191002-prevencion-btn3.jpg" alt="Quiero saber más"></center>
			</a>
			<spacer size="40"></spacer>
		</center>
	</columns>
	<columns small="1">&nbsp;</columns>
</row>