---
subject: Prevenir es salvar Vidas
utm: utm_source=newsletter&utm_medium=email&utm_campaign=cancer_de_mama_1
description: Descuentos hasta del 40% en análisis y gabinetes
---
<!--<a href="https://promociones.chopo.com.mx/?{{utm}}"> -->
	
<row class="collapse" bgcolor="#FCAEBF">
	<columns>
		<center>
			<spacer size="50"></spacer>
			<img src="assets/img/20191002-cama-header-2.jpg" alt="Desde 2006 el cáncer de mama es la primer causa de muerte por cáncer en las mujeres mexicanas.">
			<spacer size="20"></spacer>
		</center>
	</columns>
</row>
<row class="collapse" bgcolor="#83276B">
	<columns>
		<center>
			<spacer size="40"></spacer>
			<img src="assets/img/20191002-cama-discount-1.jpg" alt="Hasta el 40% de descuento*">
			<spacer size="40"></spacer>
		</center>
	</columns>
</row>
<row class="collapse main-dis" bgcolor="#83276B">
	<columns class="large-6">
		<center>
			<img src="assets/img/20191002-cama-masto.png">
			<spacer size="10"></spacer>
			<p><b>Mastografía</b><br>&nbsp;</p>
			<spacer size="10"></spacer>
			<a href="https://promociones.chopo.com.mx/a/mastografia/?{{utm}}">
				<center><img src="assets/img/20191002-cama-btn1.jpg" alt="Ver más"></center>
			</a>
			<spacer size="40"></spacer>
		</center>
	</columns>
	<columns class="large-6">
		<center>
			<img src="assets/img/20191002-cama-ultra.png">
			<spacer size="10"></spacer>
			<p><b>Ultrasonido de <br>glándula mamaria</b></p>
			<spacer size="10"></spacer>
			<a href="https://promociones.chopo.com.mx/a/ultrasonido/ultrasonido-glandula-mamaria/?{{utm}}">
				<center><img src="assets/img/20191002-cama-btn1.jpg" alt="Ver más"></center>
			</a>
			<spacer size="40"></spacer>
		</center>
	</columns>
</row>
<row class="collapse main-dis" bgcolor="#83276B">
	<columns class="large-6">
		<center>
			<img src="assets/img/20191002-cama-colpo.png">
			<spacer size="10"></spacer>
			<p><b>Colposcopia</b></p>
			<spacer size="10"></spacer>
			<a href="https://promociones.chopo.com.mx/a/colposcopia/colposcopia/?{{utm}}">
				<center><img src="assets/img/20191002-cama-btn1.jpg" alt="Ver más"></center>
			</a>
			<spacer size="40"></spacer>
		</center>
	</columns>
	<columns class="large-6">
		<center>
			<img src="assets/img/20191002-cama-densi.png">
			<spacer size="10"></spacer>
			<p><b>Densitometría</b></p>
			<spacer size="10"></spacer>
			<a href="https://promociones.chopo.com.mx/busqueda/?texto=densitometria&?{{utm}}">
				<center><img src="assets/img/20191002-cama-btn1.jpg" alt="Ver más"></center>
			</a>
			<spacer size="40"></spacer>
		</center>
	</columns>
</row>
<row class="collapse brca" bgcolor="#FCAEBF">
	<columns large="1" class="show-for-large">&nbsp;</columns>
	<columns large="10">
		<center>
			<spacer size="40"></spacer>
			<img src="assets/img/20191002-cama-brca-4.jpg" alt="¿Riesgo de cáncer? Prueba BRCA Cáncer de mama hasta con 35% de descuento">
			<spacer size="40"></spacer>
			<p>Este es un examen para brindar <b>asesoramiento genético</b> a familias donde <b>exista alta incidencia</b> de <b>cáncer da mama y de ovario</b>.</p>
			<p>Un <b>resultado negativo</b> no excluye la posibilidad de mutaciones o variantes patogenéticas.<sup><small style="color:#83276B">2</small></sup></p>
			<spacer size="40"></spacer>
			<p class="legal">Consulta a tu médico, el es el único facultado para indicar el tipo de estudio a realizar en cada paciente</p>
			<spacer size="40"></spacer>
			<a href="https://promociones.chopo.com.mx/a/sangre/deteccion-de-oncogenes-brca1-y-2/?{{utm}}">
				<center><img src="assets/img/20191002-cama-btn2-1.jpg" alt="Quiero saber más"></center>
			</a>
			<spacer size="50"></spacer>
		</center>
	</columns>
	<columns large="1" class="show-for-large">&nbsp;</columns>
</row>
<row class="collapse" bgcolor="#FCAEBF">
	<columns>
		<img src="assets/img/20191002-cama-kv.jpg" alt="Prevenir salva vidas">
	</columns>
</row>
<row class="collapse legales" bgcolor="#FCAEBF">
	<columns large="1" class="show-for-large">&nbsp;</columns>
	<columns large="10">
			<p>*Aplican restricciones: consulta estudios y descuentos participantes en tu región<br>Fuente 1: Secretaría de Salud, Centro Nacional de Equidad de Género y Salud Reproductiva, noviembre 2015. Fuente 2: Jessica Alejandra Rivera Dominguez, Responsable del Departamento de Biología Molecular, CARPERMOR México.<br>Vigencia al 31 de octubre del 2019.</p>
	</columns>
	<columns large="1" class="show-for-large">&nbsp;</columns>
</row>
<row class="collapse" bgcolor="#83276B">
	<columns>
		<center>
			<spacer size="40"></spacer>
			<img src="assets/img/20191002-cama-pleca-title.jpg" alt="Entra, navega y descarga tu cupón">
			<spacer size="20"></spacer>
			<a href="https://promociones.chopo.com.mx/?{{utm}}">
				<center><img src="assets/img/20191002-cama-btn3.jpg" alt="Quiero saber más"></center>
			</a>
			<spacer size="40"></spacer>
		</center>
	</columns>
</row>