---
subject: Tus estudios a un clic
utm: utm_source=newsletter&utm_medium=email&utm_campaign=CaMa
description: Descuento hasta del 40% en análisis y gabinetes
---
<!--<a href="https://promociones.chopo.com.mx/?{{utm}}"> -->
	
<row class="collapse" bgcolor="#FCAEBF">
	<columns>
		<img src="assets/img/20191001-prevencion.jpg" alt="Prevenir salva vidas">
	</columns>
</row>