---
subject: Inicia con toda la actitud
utm: utm_source=newsletter&utm_medium=email&utm_campaign=iniciaChopoActitud
description: Inicia con toda la actitud
---
<!--<a href="https://promociones.chopo.com.mx/?{{utm}}"> -->
	
<row class="collapse" bgcolor="#004a6d">
	<columns>
		<a href="https://promociones.chopo.com.mx/a/check-up/?{{utm}}">
			<img src="assets/img/2020129-iniciaActitud-q1.jpg" alt="Inicia con toda la actitud. Realizate tu Check up anual y aprovecha hasta el 30% de descuento.">
		</a>
	</columns>
</row>