.vs-picture, .vs-beneficios {
	th.columns { padding-bottom: 0;  }
}

.vs-b-1 { background-color: #005aa6; }
.vs-b-2 { background-color: #007fc1; }
.vs-b-3 { background-color: #00a4d2; }

.vs-pricing {
	p { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: bold; text-align: center; }
}
.vs-pricing-title { color: #0055B8;  font-size: 24px; }
.vs-pricing-subtitle { color: #007FC1; font-size: 16px;  }
.vs-pricing-valid { color: #007FC1; font-size: 12px; }

.vs-footer { background-color: #D6ECFF !important; }
.vs-legal {
	p { font-size: 10px; color: #5b96ba;  }
}