.col-2 {
	.title { color: #fff; font-family: Arial, Helvetiva, sans-serif; font-size: 21px; font-weight: bold; text-align: center;  }
	li { color: #fff; font-size: 13px; font-weight: bold; margin-bottom: 6px;  }
}
.col-1 {
	.title { color: #fff; font-family: Arial, Helvetiva, sans-serif; font-size: 28px; font-weight: bold; text-align: center;  }
	li { color: #fff;font-family: Arial, Helvetiva, sans-serif; font-size: 13px; font-weight: bold; margin-bottom: 6px; }
}

.cama-text {  font-weight: bold; }