.main-dis {
	p { color: #fff; font-family: Arial, Helvetica, sans-serif; text-align: center; font-weight: bold; text-transform: uppercase; }
}

.brca {
	p { color: #630B50; font-family: Arial, Helvetica, sans-serif; font-size: 16px; text-align: center; }
	.legal { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #9B647A; text-align: center; } 
}

.legales p { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #9B647A; text-align: center; }