<row class="footer-row collapse">
	<columns>
		<spacer size="35"></spacer>
	</columns>
</row>

<row class="footer-row footer-usp collapse">
	<columns small="4" class="text-center">
		<center>
			<a href="tel:5511044888">
				<img src="assets/img/template/icon-telefono.jpg" alt="Icono footer USP">
			</a>
		</center>
		<spacer size="20"></spacer>
		<h3 class="text-center">Haz tu cita</h3>
	</columns>
	<columns small="4" class="text-center">
		<center>
			<a href="https://promociones.chopo.com.mx/?{{utm}}&utm_content=boton-web">
				<img src="assets/img/template/icon-site.jpg" alt="Icono footer USP">
			</a>
		</center>
		<spacer size="20"></spacer>
		<h3 class="text-center">Descubre descuentos</h3>
	</columns>
	<columns small="4" class="text-center">
		<center>
			<a href="https://www.chopo.com.mx/sucursales/?{{utm}}&utm_content=boton-sucursales">
				<img src="assets/img/template/icon-sucursales.jpg" alt="Icono footer USP">
			</a>
		</center>
		<spacer size="20"></spacer>
		<h3 class="text-center">Ubica tu sucursal</h3>
	</columns>
</row>

<row class="footer-row collapse">
	<columns>
		<spacer size="15"></spacer>
	</columns>
</row>

<row class="footer-row">

	<columns small="6">
		<row>
			<columns large="4" valign="middle">
				<h2>Síguenos en</h2>
			</columns>
			<columns large="8" class="text-center">
					<a class="fb icon-rs" href="https://www.facebook.com/LaboratorioChopo?{{utm}}&utm_content=boton-facebook"><img src="assets/img/template/icon-fb.jpg" alt="Facebook"></a>
	    			<a class="tw icon-rs" href="https://twitter.com/chopo_cercadeti?{{utm}}&utm_content=boton-twitter"><img src="assets/img/template/icon-tw.jpg" alt="Twitter"></a>
	    			<a class="ig icon-rs" href="https://www.instagram.com/laboratoriochopo?{{utm}}&utm_content=boton-instagram"><img src="assets/img/template/icon-ig.jpg" alt="Instagram"></a> 		
	    	</columns>			
		</row>
	</columns>

	<!--<columns small="6">
		<row>
			<columns large="4" valign="middle">
				<h2>Comparte en</h2>
			</columns>
			<columns large="8" class="text-center">
				<a class="wa icon-rs" href="https://wa.me?text={view}">
					<img src="assets/img/template/icon-wa.jpg" alt="Comparta en Whatsapp">
				</a>
				<a class="fb icon-rs" href="https://www.facebook.com/sharer/sharer.php?u={view}">
					<img src="assets/img/template/icon-fb.jpg" alt="Compartir en Facebook">
				</a>
				<a class="mail icon-rs" href="mailto:{accountaddress}?subject={{subject}}&body={{description}} {view}">
					<img src="assets/img/template/icon-mail.jpg" alt="Compartir por correo electrónico">
				</a>
			</columns>
		</row>
	</columns>-->

</row>

<row class="footer-row">
	<columns large="12">
		<p class="footer-legales">Grupo Diagnóstico Médico Proa, S.A. de C.V., (“Laboratorio Médico del Chopo”), con domicilio en Enrique González Martínez número 109, colonia Santa María la Ribera, código postal 06400, Alcaldía Cuauhtémoc, Ciudad de México, está comprometido en manejar los datos personales observando en todo momento los principios de licitud, consentimiento, información, calidad, finalidad, lealtad y proporcionalidad previstos en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (LFPDPPP) y en su Aviso de Privacidad. Para mayor información acerca del tratamiento y los derechos ARCO, puede consultar nuestro Aviso de Privacidad en nuestra página de internet <a href="https://www.chopo.com.mx">www.chopo.com.mx</a>.</p>	
	</columns>
</row>

<!-- <row class="footer-row footer-link-legales collapse">
	<columns large="6">
		<a href="https://www.chopo.com.mx/aviso-de-privacidad/?{{utm}}&utm_content=aviso-privacidad" class="text-center">Aviso de Privacidad</a>
	</columns>
	<columns large="6">
		<a href="https://www.chopo.com.mx/?{{utm}}&utm_content=terminos-condiciones" class="text-center">Términos y condiciones</a>
	</columns>
</row> -->

<row class="footer-row collapse">
	<columns large="12">
		<spacer size="10"></spacer>
		<p class="footer-unsuscribe text-center">Si ya no deseas recibir más promociones, <a href="{unsubscribe}">cancela tu suscripción</a></p>
		<spacer size="30"></spacer>
	</columns>
</row>