<row class="header-row">
    <columns>
      <spacer size="10"></spacer>
      <p class="hd-viewbrowser">¿No se puede ver? <a href="{view}">Abrir en navegador</a></p>
      <spacer size="15"></spacer>
    </columns>
</row>
<row class="header-row collapse">
  <columns>
    <a class="header-logo" href="https://chopo.com.mx">
    	<center>
      <img src="assets/img/template/mailing-logochopo-201907.jpg" alt="Laborarios Médicos Del Chopo">
  	</center>
    </a>
    <spacer size="15"></spacer>
  </columns>
</row>